<%-include("partials/headeradmin")-%>

<div class="root_app">
  <h1 class="app_head">Doctors</h1>
  <div class="table-responsive">
    <table class="table table-hover table-bordered root_table">
      <thead>
        <tr>
          <th scope="col">Doctor ID</th>
          <th scope="col">Name</th>
          <th scope="col">Field of Practice</th>
          <th scope="col">Contact Info</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <% doctors.forEach(doctor => { %>
        <tr>
          <th scope="row"><%= doctor.doctor_id %></th>
          <td><%= doctor.name %></td>
          <td><%= doctor.type%></td>
          <td><%= doctor.contact_info %></td>
          <td><%= doctor.location %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%-include("partials/footer")-%>
