<%-include("partials/header")-%>

<div class="root_app">
  <h1 class="app_head">My Appointments</h1>
  <div class="table-responsive">
    <table
      class="table table-hover table-bordered root_table table-sm"
      id="myTable"
    >
      <thead>
        <tr>
          <th scope="col">Appointment-ID</th>

          <th scope="col">Patient-ID</th>
          <th scope="col">Patient's name</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% appointments.forEach(appointment => { %>
        <tr>
          <th scope="row"><%= appointment.appointment_id %></th>
          <td><%= appointment.user_id %></td>
          <td><%= appointment.User?.name %></td>

          <td><%= appointment.date %></td>
          <td><%= appointment.time %></td>
          <td><%= appointment.status %></td>
          <td>
            <button
              type="button"
              class="action-button edit-btn btn btn-primary"
            >
              Update
            </button>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Add event listener to the table body
    document
      .getElementById("myTable")
      .addEventListener("click", function (event) {
        // Check if the clicked element is an edit button

        if (event.target.classList.contains("edit-btn")) {
          // Find the closest row to the clicked button
          const row = event.target.closest("tr");
          // Get the index of the row
          const rowIndex = row.rowIndex; // Subtract 1 to account for header row

          // Call the editRow function with the dynamic rowIndex
          editRow(rowIndex);
        }
      });
  });
  function editRow(rowIndex) {
    const table = document.getElementById("myTable");
    const row = table.rows[rowIndex];
    const appointmentId = row.cells[0].innerText;
    const userId = row.cells[1].innerText;
    localStorage.setItem("appointmentID", appointmentId);
    localStorage.setItem("UserId", userId);
    //alert("Editing: Name - " + name + ", Email - " + email);
    // Here you can display the information in a modal or form for editing
    window.location.href = "/editapp";
  }
</script>

<%-include("partials/footer")-%>
